In [ ]:
pip install pandas

In [ ]:
pip list | grep pandas

In [ ]:
import pandas

In [ ]:
dir(pandas)

In [1]:
import pandas

In [2]:
pandas.read_csv('Book.csv')

       Name  Phone              Email  Score
0      Jack   1111           j@lw.com      1
1      Rick   2222           r@lw.com      2
2     Drong   3333           d@lw.com      3
3       Pat   4444           p@lw.com      4
4  Himanshu   5555  hdogra@redhat.com      5

In [3]:
d=pandas.read_csv('Book.csv')

In [9]:
d[['Name','Phone']]

       Name  Phone
0      Jack   1111
1      Rick   2222
2     Drong   3333
3       Pat   4444
4  Himanshu   5555

In [10]:
d.columns

Index(['Name', 'Phone', 'Email', 'Score'], dtype='object')

In [13]:
d.iloc[1,1]

2222

In [14]:
d

       Name  Phone              Email  Score
0      Jack   1111           j@lw.com      1
1      Rick   2222           r@lw.com      2
2     Drong   3333           d@lw.com      3
3       Pat   4444           p@lw.com      4
4  Himanshu   5555  hdogra@redhat.com      5

In [15]:
d[1]

KeyError: 1

In [17]:
d['Phone']

0    1111
1    2222
2    3333
3    4444
4    5555
Name: Phone, dtype: int64

In [20]:
d['Phone'].sum()

16665

In [21]:
1111+2222+3333+4444+5555

16665